/* blog Preview Wrapper */
.blogPreviewWrapper {
    width: 100%;
    /* width: 100vw; */
}
.blogPreviewWrapper .blogPreview {
    padding: 0 30px;
}
/* .blogPreviewWrapper .blogPreview h1 {} */
.blogPreviewWrapper .blogPreview .blogGrid {
    margin-bottom: 82px;
}
.blogPreviewWrapper .blogPreview .blogGrid .previewCard {
    margin-top: 52px;
}
.blogPreviewWrapper .blogPreview .blogGrid .previewCard:first-child {
    margin-top: 0;
}
.blogPreviewWrapper .blogPreview .blogGrid .previewCard h3 {
    color: var(--color-highlight);
    margin-bottom: 12px;
    font-weight: 600;
    letter-spacing: -0.01em;
}
.blogPreviewWrapper .blogPreview .blogGrid .previewCard p {
    margin-bottom: 14px;
}
/* .blogPreviewWrapper .blogPreview .blogGrid .previewCard a {} */