.header {
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; */
    box-sizing: border-box;
    margin: auto;
    /* padding: 25px 25px 0; */
    position: absolute;
    top: 0;
    /* max-width: 100%; */
    z-index: 99;
    /* overflow-y: hidden; */
}

.brand {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 42px 30px;
    z-index: 999;
}
.brand .logo {
    font-size: 16px;
    font-size: 17px;
    letter-spacing: -0.005em;
    /* letter-spacing: -0.01em; */
    font-weight: 600;
    color: var(--color-highlight);
    margin: 0;
}
.brand .burger {
    width: 42px;
    height: 42px;
    /* padding-top: 8px; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: transparent;
    cursor: pointer;
    transition: all ease 0.3s;
}
.brand .burger::after,
.brand .burger::before {
    content: '';
    width: 42px;
    height: 3px;
    position: absolute;
    background-color: var(--color-highlight);
    transition: all ease 0.3s;
} 
.brand .burger::after {
    margin-top: -8px;
}
.brand .burger::before {
    margin-top: 8px;
}
.brand .close {
}
.brand .close::after {
    transform: rotate(-45deg);
    margin-top: 0;
}
.brand .close::before {
    margin-top: 0;
    transform: rotate(45deg);
}

.menu {
    background-color: red;
    background-color: var(--color-background);
    width: 100%;
    height: 120vh;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    /* left: 0; */
    left: 130vw;
    right: 0;
    bottom: 0;
    padding-left: 27px;
    padding-right: 27px;
    z-index: 99;
    transition: all ease 0.7s;
    /* display: none; */
}
.menu a {
    width: 100%;
    font-size: 32px;
    display: block;
    margin-bottom: 30px;
    font-weight: 500;
    color: var(--color-text);
}
.menu a.active {
    color: var(--color-highlight);
}
.menu a.inactive {
    color: var(--color-text);
    opacity: 0.5;
}
.menu a:last-child {
    margin-bottom: 0;
}
.open {
    left: 0;
}