.next
  padding: 0 40px 0 30px
  margin-top: 80px
  margin-bottom: 34px
  max-width: 480px
  p
  h1
    margin-bottom: 0
    a
      color: var(--color-mid)
      transition: var(--transition)
      &:hover,
      &:focus
        color: var(--color-highlight)
    
@media (min-width: 768px)
  .next
    // max-width: 680px
    padding: 0 4.6vw
    p
    h1
    
@media (min-width: 1280px)
  .next
    padding: 0 6vw
    margin-top: 140px
    margin-bottom: 20px
    max-width: 680px
    p
    h1
    
@media (min-width: 1490px)
  .next
    padding: 0 13vw
    p
    h1
    
@media (min-width: 1490px)
  .next
    padding: 0 18vw
    p
    h1