@import reset

\:root
  --color-background:#ffffff
  --color-shadow:#E3E3E3
  --color-text:#787B7D
  --color-mid:#333a3e
  --color-highlight:#21282C
  --transition: all ease-in-out 0.3s

@media screen and (prefers-color-scheme: dark)
  \:root
    --color-background:#21282C
    --color-shadow:#293136
    --color-text:#909496
    --color-mid:#e1e1e1
    --color-highlight:#ffffff

/* Fonts
// @font-face
//   font-family: 'Inter'
//   font-style: normal
//   font-weight: 100 900
//   font-display: optional
//   src: url('/fonts/Inter.var.woff2') format("woff2")

/* Basics
body
  font-family: 'Inter', sans-serif
  background-color: var(--color-background)
  color: var(--color-text)
  width: 100%
  box-sizing: border-box
  max-width: 100vw
  background-color: rgba(#E3E3E3, 0.1)

a
  text-decoration: none
  color: var(--color-text)
  letter-spacing: -0.015em
  outline: none
  &:hover, &:focus
    outline: none
    color: var(--color-highlight)

p
  font-size: 16px
  line-height: 160%
  letter-spacing: -0.01em
  margin-bottom: 17px

@media (min-width: 768px)
  p
    font-size: 18px

@media (min-width: 1280px)
  p
    font-size: 17px
    // line-height: 160%

h1
  font-size: 34px
  line-height: 125%
  font-weight: 500
  letter-spacing: -0.03em
  margin-bottom: 50px

@media (min-width: 768px)
  h1
    font-size: 42px

@media (min-width: 1280px)
  h1
    font-size: 52px

h3
  font-size: 22px
  font-weight: 500
  line-height: 120%
  letter-spacing: -0.015em
  margin-bottom: 5px

@media (min-width: 1280px)
  h3
    font-size: 24px

.layout-wrapper
  width: 100%
  box-sizing: border-box
  padding-top: 40vh

@media (min-width: 768px)
  .layout-wrapper
    padding-top: 300px

@media (min-width: 1280px)
  .layout-wrapper
    padding-top: 36vh

.highlight-color
  color: var(--color-highlight)
  font-weight: 600

.go-button
  font-size: 16px
  line-height: 160%
  color: var(--color-text)
  transition: all ease-in-out 0.3s
  &:hover,
  &:focus
    color: var(--color-highlight)