@import reset

\:root
  --color-background:#ffffff
  --color-shadow:#E3E3E3
  --color-sub:#919191
  --color-text:#464646
  --color-mid:#424a4f
  --color-highlight:#0d1012
  --color-vivid: #FF3603
  --transition: all ease-in-out 0.3s

@media screen and (prefers-color-scheme: dark)
  \:root
    --color-background:#171b1d
    --color-shadow:#293136
    --color-sub:#758188
    --color-text:#e1e1e1
    --color-mid:#e1e1e1
    --color-highlight:#ffffff

/* Fonts
// @font-face
//   font-family: 'Inter'
//   font-style: normal
//   font-weight: 100 900
//   font-display: optional
//   src: url('/fonts/Inter.var.woff2') format("woff2")

/* Basics
body
  font-family: 'Inter', sans-serif
  background-color: var(--color-background)
  color: var(--color-text)
  width: 100%
  box-sizing: border-box
  max-width: 100vw
  background-color: var(--color-background)
  font-weight: 400
  line-height: 1.75
  color: var(--color-text)
<<<<<<< HEAD
  font-size: 100% !important
p, li
  letter-spacing: -0.008em
  margin-bottom: 1rem
  line-height: 1.75
  font-size: 100%
@media (min-width: 1280px)
  p
    font-size: 107%
strong, b
=======
  letter-spacing: -0.015em
  outline: none
  &:hover, &:focus
    outline: none
    color: var(--color-highlight)

p
  font-size: 16px
  line-height: 145%
  line-height: 150%
  // letter-spacing: -0.01em
  letter-spacing: -0.025em
  margin-bottom: 17px

@media (min-width: 768px)
  p
    // font-size: 16px

@media (min-width: 1024px)
  p
    font-size: 17px

@media (min-width: 1280px)
  p
    font-size: 18px
    // line-height: 160%

@media (min-width: 1440px)
  p
    // font-size: 17px
    // line-height: 160%

h1
  // font-size: 36px
  // font-size: 9.5vw
  font-size: 12vw
  // line-height: 115%
  line-height: 110%
  // font-weight: 600
>>>>>>> 91c51a76a52cca1cf22a00461d4c71d218855417
  font-weight: 500
em, i
  font-style: italic
h1, h2, h3, h4, h5, h6
  color: var(--color-highlight)
  font-weight: 600
<<<<<<< HEAD
h1, h2, h3, h4, h5
  margin: 3rem 0 1.38rem
  line-height: 1.3
h1
  margin-top: 0
  font-size: 3.052rem
  letter-spacing: -0.055em
h2
  font-size: 2.441rem
  letter-spacing: -0.045em
=======
  letter-spacing: -0.04em
  line-height: 125%

@media (min-width: 768px)
  h2
    font-size: 28px

@media (min-width: 1024px)
  h2
    // font-size: 28px

@media (min-width: 1490px)
  h2

@media (min-width: 1600px)
  h2

>>>>>>> 91c51a76a52cca1cf22a00461d4c71d218855417
h3
  font-size: 1.953rem
  letter-spacing: -0.015em
h4
  font-size: 1.563rem
  letter-spacing: -0.015em
h5
  font-size: 1.25rem
  letter-spacing: -0.015em
small,
.text_small
  font-size: 0.75rem

a
  text-decoration: none
  color: var(--color-text)
  letter-spacing: -0.015em
  outline: none
  &:hover, &:focus
    outline: none
    color: var(--color-highlight)

.layout-wrapper
  width: 100%
  box-sizing: border-box
  // padding-top: 20vh
  padding-top: 32vh

@media (min-width: 768px)
  .layout-wrapper
    // padding-top: 300px
    padding-top: 280px

@media (min-width: 1024px)
  .layout-wrapper
    // padding-top: 280px

@media (min-width: 1280px)
  .layout-wrapper
    padding-top: 300px

@media (min-width: 1600px)
  .layout-wrapper
    padding-top: 360px

.highlight-color
  color: var(--color-highlight)
  // font-weight: 600

.go-button
  font-size: 16px
  line-height: 160%
  color: var(--color-text)
  transition: all ease-in-out 0.3s
  &:hover,
  &:focus
    color: var(--color-highlight)

.loader
  width: 100vw
  height: 100vh
  box-sizing: border-box
  background-color: var(--color-background)
  color: var(--color-text)
  // display: flex
  justify-content: center
  align-items: center
  opacity: 0
  position: fixed
  z-index: 9999
  display: flex
  opacity: 0
  visibility: hidden
  transition: all 0.5s cubic-bezier(.62,.06,.39,.79)
  h1
    font-size: 18px
    font-weight: 700
  &.visible
    visibility: visible
    opacity: 1