/* Grid Works */
.worksGridWrapper {
    /* width: 100%; */
    padding: 0 30px;
    /* margin-top: 82px; */
    margin-bottom: 104px;
}
.worksGridWrapper h1 {
    margin-bottom: 42px;
}
.worksGridWrapper .worksGrid {}
.worksGridWrapper .worksGrid .workCard {}
.worksGridWrapper .worksGrid .workCard .img {
    /* width: 100vw; */
    height: 421px;
    /* height: 460px; */
    margin-bottom: 26px;
    background-color: var(--color-text);
}
.worksGridWrapper .worksGrid .workCard .data {
    padding-right: 10px;
}
.worksGridWrapper .worksGrid .workCard .data h3 {
    color: var(--color-highlight);
    font-weight: 600;
}
.worksGridWrapper .worksGrid .workCard .data p {
    max-width: 95%;
}


/* blog Preview Wrapper */
.blogPreviewWrapper {
    width: 100%;
    /* width: 100vw; */
}
.blogPreviewWrapper .blogPreview {
    padding: 0 30px;
}
.blogPreviewWrapper .blogPreview h1 {}
.blogPreviewWrapper .blogPreview .blogGrid {
    margin-bottom: 82px;
}
.blogPreviewWrapper .blogPreview .blogGrid .previewCard {
    margin-top: 52px;
}
.blogPreviewWrapper .blogPreview .blogGrid .previewCard:first-child {
    margin-top: 0;
}
.blogPreviewWrapper .blogPreview .blogGrid .previewCard h3 {
    color: var(--color-highlight);
    margin-bottom: 12px;
    font-weight: 600;
    letter-spacing: -0.01em;
}
.blogPreviewWrapper .blogPreview .blogGrid .previewCard p {
    margin-bottom: 14px;
}
.blogPreviewWrapper .blogPreview .blogGrid .previewCard a {}