// .presentationWrapper
//     padding: 0 22px
//     .presentationA
//     .presetationA .heading
//         p
//             font-size: 16px
//             margin-bottom: 22px
//         h1
//     .presentationB .arrowWrapper .arrow

.workImage
    position: relative
    width: 100%
    background-color: var(--color-shadow)
    margin-bottom: 44px
    .img
        height: 249px
        position: relative

@media (min-width: 768px)
    .workImage
        .img
            height: 480px

@media (min-width: 1280px)
    .workImage
        .img
            height: 45vw

.workContent
    padding: 0 22px
    .desc
        margin-bottom: 48px
        // padding: 48px 10px 0 0
        p
            letter-spacing: -0.04em
    img
        width: 100%
        margin-bottom: 24px

@media (min-width: 768px)
    .workContent
        padding: 0 4.6vw
        .desc
            padding: 42px 0 20px
            max-width: 500px
            p
        img

@media (min-width: 1280px)
    .workContent
        padding: 0 4.5vw
        .desc
            padding: 62px 0 40px
            max-width: 577px
            p
        img
            margin-bottom: 52px

@media (min-width: 1490px)
    .workContent
        padding: 0 13vw
        .desc
            p
        img

@media (min-width: 1600px)
    .workContent
        // padding: 0 18vw
        .desc
            p
        img